* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f0fdf4;
  color: #e5e7eb;
  /* line-height: 1.6; */
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(15, 23, 42, 0.9);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.nav {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
}

.nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav ul li a:hover {
  color: #38bdf8;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #022c22;
}

.hero h1 span {
  color: #38bdf8;
}

.hero p {
  max-width: 600px;
  margin: 0 auto 30px;
  color: #065f46;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background: linear-gradient(135deg, #38bdf8, #6366f1);
  border-radius: 30px;
  font-weight: 600;
  color: #0f172a;
}

section {
  padding: 100px 20px;
  max-width: 1100px;
  margin: auto;
}

.section-title {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 50px;
  color: #022c22;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}
.about p {
  color: #065f46;
}
.about img {
  width: 50%;
  border-radius: 30px;
}

/* .circle-skill {
  text-align: center;
}
#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  color: white;
  font-family: Arial, sans-serif;
}
.circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: conic-gradient(#38bdf8 0deg, #1e293b 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.circle span {
  font-weight: bold;
  font-size: 20px;
} */
#skills {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  color: #111827;
  font-family: Arial, sans-serif;
}
.skill-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 0;
}

.skill-row span {
  font-size: 16px;
  font-weight: 500;
}
.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: conic-gradient(#38bdf8 0deg, #1e293b 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle span {
  font-size: 16px;
  font-weight: bold;
  color: white;
}
@media (max-width: 900px) {
  #skills {
    grid-template-columns: 1fr;
  }
}

.skill-box {
  background: #ffffff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* Life Skills full width */
.skill-box-ls {
 display: grid;
      
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}
.skill-box-ls img {
  width: 300px;
  height: 200px;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 30px;
}

.skill-card img{
  width: 250px;
  height: 200px;
}
section {
  padding: 100px 20px;
  scroll-margin-top: 100px;
}

/* Life skills full width */
.skill-box-ls {
  max-width: 1200px;
  margin: 100px auto;
  background: #fff;
  padding: 40px;
  border-radius: 16px;
  color: black;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.skill-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}
.project-content{
  margin-left: 20px;
}


.project {
  background: #1e293b;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.project img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.contact {
  text-align: center;
  max-width: 600px;
  margin: auto;
  color: #1e293b;
}
.contact p{
margin-top: 10px;
} 