* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #F0FDF4;
  color: #e5e7eb;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(15, 23, 42, 0.9);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.nav {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
  
}

.nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav ul li a:hover {
  color: #38bdf8;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color:#022C22;
}

.hero h1 span {
  color: #38bdf8;
}

.hero p {
  max-width: 600px;
  margin: 0 auto 30px;
  color:#065F46;;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background: linear-gradient(135deg, #38bdf8, #6366f1);
  border-radius: 30px;
  font-weight: 600;
  color: #0f172a;
}

section {
  padding: 100px 20px;
  max-width: 1100px;
  margin: auto;
}

.section-title {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 50px;
  color: #022C22;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;

}
.about p{
  color:#065F46;;
}
.about img {
  width: 50%;
  border-radius: 30px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.skill-card {
  background: #1e293b;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.skill-card:hover {
  transform: translateY(-8px);
}

.projects {
  display: grid;
  /* height:400px; */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.project {
  background: #1e293b;
  border-radius: 20px;
  overflow: hidden;
}

.project img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-content {
  padding: 20px;
}

.contact {
  text-align: center;
}

.contact p {
  margin-bottom: 20px;
  color: #065F46;;
}

footer {
  background: #020617;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: #94a3b8;
}

@media (max-width: 768px) {
  .about {
    grid-template-columns: 1fr;
  }

  .hero h1 {
    font-size: 2.3rem;
  }
}
